<header>
  <div class="logo-box"></div>
  <h1 id="title-cse">CSE MOTORS</h1>

  <div class="header">
    
        <a title="Click to log in" href="/account/login">My Account</a>
      
      <%#<button id="myAccountBtn">My Account</button>
      <div id="accountForm" class="hidden">
          <form id="loginForm">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required>

              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required>

              <button type="button" onclick="submitForm()">Login</button>
          </form>
      </div>%>
  </div>


  <%#<div>
      <nav id="menu"
          <ul>
              <li class="first_list"><a href="index.html">Home</a></li>
              <li class="first_list"><a href="custom.html">Custom</a></li>
              <li class="first_list"><a href="sedan.html">Sedan</a></li>
              <li class="first_list"><a href="suv.html">SUV</a></li>
              <li class="first_list"><a href="truck.html">Truck</a></li>
          </ul>
      </nav>
  </div>%>
  
</header>